body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    background: linear-gradient(to bottom right,  #ba8a5f, #6b401f);
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.haut {
    margin-left: 75%; 
    margin-top: -35px;
    margin-bottom: 10px;
}
.haut1 {
    margin-left: 60%; 
    margin-top: -30px;
    margin-bottom: 15px;
}

.haut input[type="submit"] {
    background-color:#684217;
    color: #ffffff; /* Texte blanc */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement intérieur */
    cursor: pointer; /* Curseur pointer */
    transition: background-color 0.3s; /* Transition fluide */
}

/* Hover */
.haut input[type="submit"]:hover {
    background-color: #773416; /* Changement de couleur au survol */
}
.profil-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.profil-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.profil-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.profil-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
}