/*  style corps page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* beige crème */
}

.container {
    width: 80%; /* largeur de la zone de contenu */
    margin: 0 auto; /* centrage horizontal */
    background-color: #fff; /* fond blanc */
    padding: 20px; /* espace intérieur */
}



/* fin de style corps page */
/* ______________________________________________________________________________________________________________________________________ */



/* style pour le header */

.header-image {
    width: 100%; /* La largeur de l'image remplit l'entête */
    height: 500px; /* Hauteur automatique pour conserver les proportions */
}

.header-text {
    position: absolute;
    top: 50%; /* Aligne le texte verticalement au milieu */
    left: 50%; /* Aligne le texte horizontalement au centre */
    transform: translate(-50%, -50%); /* Centre le texte par rapport à son propre centre */
    text-align: center;
    color: #3e3e3e; /* Couleur du texte */
}

.header-text h1 {
    font-size: 2em;
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent pour le texte */
}

/* fin de style pour le header */
/* ______________________________________________________________________________________________________________________________________ */


/* Styles pour les  boutons */

.retour {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    border-radius: 20px; /* Bordures arrondies pour le bouton Retour */
    background-color:  #9c6c45;
    color: #fff;
}



.autres-boutons {
    margin-top: 10px; 
    text-align: center;
}

.autres-boutons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    border-radius: 20px; /* Bordures arrondies pour les autres boutons */
    background-color: #b8855b;
    color: #fff;
}
button:hover {
    background-color: #fdd9aa; /* beige crème légèrement plus clair au survol */
}

/* fin de style pour les  boutons */
/* ______________________________________________________________________________________________________________________________________ */



/* Styles pour les  formulaires */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.header-text2 h2 {
  text-align: center;
}
/* fin de style pour les  formulaires */
/* ______________________________________________________________________________________________________________________________________ */

